{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Edition Album
{% endblock %}

{% block top %}
<section id="home">


    <div class="custom-caption">
    <h1>Utilisateur edit</h1>
<div class="col-lg-6">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <div class="col-lg-4">
        <input class="btn btn-primary btn-sm" type="submit" value="Enregistrer" />
    </div>
    {{ form_end(edit_form) }}
    <div class="col-lg-4">
            <a class="btn btn-primary btn-sm" href="{{ path('utilisateur_index') }}">Retour</a>
</div>
    <div class="col-lg-4">
            {{ form_start(delete_form) }}
                <input class="btn btn-primary btn-sm" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}

</div>
</div>
    </div>
</section>
{% endblock top %}


{% block content %}
    <div class="carousel-inner">
        <div class="row">
            <div class="col-sm-12 col-md-9">

            </div>
        </div>
    </div>

{% endblock %}