{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Edition Album
{% endblock %}

{% block top %}
    <section id="home">


            <div class="custom-caption">
                <div class="panel panel-default">
                    <div class="panel-heading"><h1>Modifier le produit</h1></div>
                    <div class="panel-body">
                <div class="row">


                <div class="form-group col-lg-4">
                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <div class="col-lg-12">
                    <input class="btn btn-primary btn-sm" type="submit" value="Enregistrer"/>
                        </div>
                    {{ form_end(edit_form) }}
                </div>

                <div class="col-lg-12">
                <a class="btn btn-primary btn-sm" href="{{ path('produit_index') }}">retourner sur la liste</a>
                    <div class="col-lg-2">
                {{ form_start(delete_form) }}
                <input class="btn btn-primary btn-sm" type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
            </div>
                    </div>
    </section>
{% endblock top %}


{% block content %}
    <div class="carousel-inner">
        <div class="row">
            <div class="col-sm-12 col-md-9">

            </div>
        </div>
    </div>

{% endblock %}