{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Edition image
{% endblock %}

{% block top %}
    <section id="home">

            <div class="custom-caption">

                <table class="table table-responsive">
                    <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ image.nom }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ image.description }}</td>
                    </tr>
                    <tr>
                        <th>Originalpath</th>
                        <td>{{ image.originalPath }}</td>
                    </tr>
                    <tr>
                        <th>Path</th>
                        <td>{{ image.path }}</td>
                    </tr>

                    <tr class="col-lg-12">

                        <a class="btn btn-primary btn-sm" href="{{ path('image_index') }}">Voir la liste</a>

                        <a class="btn btn-primary btn-sm" href="{{ path('image_edit', { 'id': image.id }) }}">Modifier</a>

                        {{ form_start(delete_form) }}
                        <input class="btn btn-primary btn-sm" type="submit" value="Suprimer">
                        {{ form_end(delete_form) }}

                    </tr>
                    </tbody>
                </table>



            </div>
    </section>
{% endblock top %}

{% block content %}
    <div class="carousel-inner">
        <div class="row">
            <div class="col-sm-12 col-md-9">

            </div>
        </div>
    </div>

{% endblock %}
